= form_for @page do |f|
  = f.text_field :title, placeholder: 'Page Title', size: 69
  %hr
  = f.text_field :subtitle, placeholder: 'Page Subtitle', size: 69
  %hr
  = f.text_area :body,  placeholder: 'Page Body, markdown supported!', size: '69x30'
  %hr
  = f.submit 'Submit', class: 'btn btn-default'
