.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      .row.control-group
        .form-group.col-xs-12.floating-label-form-group.c
          = form_for @contact do |f|
            = f.text_field :name, placeholder: 'Your Name', size: 69
            %hr
            = f.text_field :email, placeholder: 'Your Email', size: 69
            %hr
            = f.text_area :message, placeholder: 'Your Message', size: 69
            %hr
            = f.submit 'Send', class: 'btn btn-default'
