.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      %form#contactForm
        .row.control-group
          .form-group.col-xs-12.floating-label-form-group.controls
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              %label Email
              = f.email_field :email, autofocus: true, placeholder: 'Email', required: true, autofocus: true

              %label Password
              = f.password_field :password, autocomplete: 'off', placeholder: 'Password', required: true, autofocus: true
              %hr
              = f.submit 'Sign in', class: 'btn btn-default'
            = render "devise/shared/links"
