!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Simple Blog
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Custom Fonts
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}/
  %body
    / Navigation
    %nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'AH', root_path, class: "navbar-brand"
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "index.html"} Home
            %li
              %a{:href => "about.html"} About
            %li
              %a{:href => "post.html"} Resume
            %li
              %a{:href => "contact.html"} Contact
        / /.navbar-collapse
      / /.container
    %header.intro-header{:style => "background-image: url(#{asset_path 'home-bg.jpg'})"}
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            .site-heading
              %h1 Simple Personal Page
              %hr.small/
              %span.subheading Amazing Heading About me
    = yield
    / Footer
    %footer
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            %ul.list-inline.text-center
              %li
                %a{:href => "#"}
                  %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x
                    %i.fa.fa-twitter.fa-stack-1x.fa-inverse
              %li
                %a{:href => "#"}
                  %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x
                    %i.fa.fa-facebook.fa-stack-1x.fa-inverse
              %li
                %a{:href => "#"}
                  %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x
                    %i.fa.fa-github.fa-stack-1x.fa-inverse
            %p.copyright.text-muted
              Copyright © Site Name #{Time.now.year}
